<div class="sidebar-container" [ngClass]="{ 'collapsed': isCollapsed }">
  <button 
    mat-icon-button 
    class="collapse-button"
    [ngClass]="{ 'collapsed-position': isCollapsed }"
    (click)="toggleSidebar()" 
    aria-label="Toggle Sidebar">
    <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>
  <div *ngIf="!isCollapsed">
  <div class="sidebar-header">
    <div class="sidebar-title">
    <h2>Toronto Shows</h2>
  </div>
  <div class="view-toggle-buttons">
  <button mat-button (click)="setView('venues')">Venues</button>
  <button mat-button (click)="setView('events')">Events</button>
  <button mat-button (click)="setView('artists')">Artists</button>
</div>
</div>
<div *ngIf="viewMode === 'venues'" class="venue-list">
  <app-venue-card *ngFor="let venue of venues" [venue]="venue"></app-venue-card>
</div>

<div *ngIf="viewMode === 'events'" class="event-list-wrapper">
  <app-event-list></app-event-list>
</div>

<div *ngIf="viewMode === 'artists'" class="artist-list">
  <app-artist-list></app-artist-list>
</div>
</div>