.sidebar-container {
    width: 350px;
    height: 100vh;
    background: rgba(20, 20, 20, 0.85);
    backdrop-filter: blur(6px);
    padding: 1rem;
    color: white;
    display: flex;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    z-index: 100;
  }
  .sidebar-title {
  text-align: center;
  width: 100%;
}
  
  .sidebar-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.filter-section {
  padding: 1rem 0 0.5rem 0;
  margin-bottom: 1rem;
  border-top: 1px solid #ccc;
  
}
.section-heading {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #f3f2f2;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.25rem;
}
  .venue-list {
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .venue-list::-webkit-scrollbar {
    width: 3px;
  }
  .venue-list::-webkit-scrollbar-thumb {
    background-color: rgba(46, 40, 40, 0.3);
    border-radius: 1px;
  }
  .venue-list::-webkit-scrollbar-track {
    background: transparent;
  }
.sidebar-container.collapsed {
  width: 40px;
}

.collapse-button {
  position: fixed;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  z-index: 100;
  background: #2c2c2c;
  color: white;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.collapse-button:hover {
  background: #444;
}