<div class="sidebar-container" [ngClass]="{ 'collapsed': isCollapsed }">
  <button 
    mat-icon-button 
    class="collapse-button"
    [ngClass]="{ 'collapsed-position': isCollapsed }"
    (click)="toggleSidebar()" 
    aria-label="Toggle Sidebar">
    <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>
  <div *ngIf="!isCollapsed">
  <div class="sidebar-header">
    <div class="sidebar-title">
    <h2>Toronto Shows</h2>
  </div>

  <div class="filter-section">
    <h4 class="section-heading">Filter Venues</h4>
   <!-- Add more stuff here reguarding filters -->
  </div>
    <div class="venue-list">
        <app-venue-card *ngFor="let venue of venues" [venue]="venue"></app-venue-card>
    </div>
  </div>
</div>