<div class="social-links-column">
    <!-- Yap session goes here -->
  <div class="about-section" [innerHTML]="aboutHtml"></div>
<!-- Links here -->
  <div class="profile-links">
    <span class="profile-name">Kev's Links</span>
    <div class="link-buttons">
      <a href="https://github.com/KevinChaves65" target="_blank"><img src="assets/icons/github.svg" /></a>
      <a href="https://www.linkedin.com/in/kevin-chaves65/" target="_blank"><img src="assets/icons/linkedin.svg" /></a>
    </div>
  </div>

  <div class="profile-links">
    <span class="profile-name">Dan's Links</span>
    <div class="link-buttons">
      <a href="https://github.com/d-arceo" target="_blank"><img src="assets/icons/github.svg" /></a>
      <a href="https://www.linkedin.com/in/danielarceo/" target="_blank"><img src="assets/icons/linkedin.svg" /></a>
    </div>
  </div>
</div>
