.about-section {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  color: white;
}

.profile-links {
  margin-bottom: 0.75rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 0.5rem;
}

.link-buttons a img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;

  transition: filter 0.2s ease;
}

.link-buttons a img:hover {
  filter: grayscale(1);
}
