<div class="event-card">
    <img [src]="venue.imageUrl" alt="{{ venue.venue }} image" />
  
    <div class="info">
      <h3>{{ venue.venue }}</h3>
      
      <p>{{ venue.address }}</p>
      <p> km away</p> <!-- distance from user to venue add here-->>
  
    <button class="toggle-button" (click)="toggleEvents()">
      {{ showEvents ? 'Hide Events' : 'View Events' }}
    </button>

    <div *ngIf="showEvents" class="event-detail-card">
      <h4>Events at {{ venue.venue }}</h4>
      <div *ngIf="eventsLoaded">
        <div class="event" *ngFor="let event of events">
          <p><strong>{{ event.name }}</strong> ({{ event.genre }})</p>
          <p>{{ event.Date }}</p>
          <p><em>Line-up:</em> {{ event.lineUp.join(', ') }}</p>
          <button class="more-info-btn" (click)="openEvent(event)">More Info</button>
          <hr />
        </div>
      </div>
    </div>

    <app-event-card
      *ngIf="selectedEvent"
      [event]="selectedEvent"
      [fallbackImageUrl]="venue.imageUrl"
      [close]="closeEvent">
    </app-event-card>
    </div>
  </div>
  