<div class="event-modal-backdrop" (click)="close()"></div>

<div class="event-modal">
  <div class="full-event-card">
    <button class="close-button" (click)="close()">x</button>

    <h3>{{ event.name }}</h3>

    <img
      [src]="event.Eimage || fallbackImageUrl"
      alt="{{ event.name }} image"
      class="event-image"
    />

    <p><strong>Genre:</strong> {{ event.genre }}</p>
    <p><strong>Date:</strong> {{ event.Date }}</p>
    <p><strong>Description:</strong> {{ event.Description }}</p>
    <mat-card-actions *ngIf="event.TicketUrl">
    <a [href]="event.TicketUrl" target="_blank">
    <button mat-raised-button color="accent">Buy Tickets</button>
  </a>
</mat-card-actions>
    <p><strong>Line-up:</strong></p>
    <ul>
      <li *ngFor="let artist of event.lineUp">
        <button class="link-button" (click)="openArtistModal(artist)">
          {{ artist }}
        </button>
      </li>
    </ul>
  </div>
</div>